<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="css/style.css" />
    </head>
    <body>
        <h2>Personal Todos</h2>
            <ul>
    <% todos.forEach( el => { %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <span name='todoItemName' class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                <span class='del'> Delete </span>
      
                <form action="/todos/shareTodo" method='POST'>
                    <input type="hidden" name="_method" value="PUT">
                    <input type="hidden" name="todoId" value="<%=el._id%>">
                    <!-- <input type="text" placeholder="Share with someone" name='shareReceiver'> -->

                    <select action="/users/getUsers" method='GET' name="usersList" id="users">
                        <% users.forEach( el => { %>
                        <option data-id='<%=el._id%>'><%= el.userName %></option>
                        <% }) %>
                    </select>

                    <input type="submit">
                </form>
            </li>
    <% }) %>    
    </ul>
    <h2><%= user.userName %> has <%= left %> things left to do.</h2>




    <form action="/todos/createTodo" method='POST'>
        <input type="text" placeholder="Enter Todo Item" name='todoItem'>
        <input type="submit">
    </form>

    <a href="/logout">Logout</a>

        <script src="js/main.js"></script>
    </body>
</html>
